*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;         
}

:root {
    --black: #13131a;
    --normal: #ffffff;
    --primary: #0c9600;
    --bg: #1F1154;
    --tom: #ED3E09;
    
}

body{
    color: var(--primary);
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
}
.logo{
    font-size: 4rem;
    font-weight: 700;
    margin-left: 2%;
    margin-right: auto;

}
/*remove menu open and close icon*/
#open-menu-btn{
    display:none;
}
#close-menu-btn{
    display:none;
}
.nav-box{
    display: flex;
    width: 70%;
    margin-right: 2%;
    margin-left: auto;
    padding-right: 0;
    padding-left: auto;
    justify-content: right;
    gap: 4%;
    color: var(--primary);
    font-size: 150%;
}
.nav-box a{
    position: relative;
    color: var(--primary);
    border-radius: 0.625rem;
    text-decoration: none;
    font-weight: 600;
    overflow: visible;
    z-index: 1;
}

.nav-box a::before{
    content: "";
    position: absolute;
    inset: -0.25rem;        /* -4px */
    background: linear-gradient(
        90deg,
        #03a9f4,
        #f441a5,
        #ffeb3b,
        #03a9f4
    );
    background-size: 400%;
    border-radius: 0.875rem; /* 14px */
    z-index: -1;
    opacity: 0;
}

.nav-box a::after{
    content: "";
    position: absolute;
    inset: -0.375rem;
    background: linear-gradient(
        90deg,
        #03a9f4,
        #f441a5,
        #ffeb3b,
        #03a9f4
    );
    background-size: 400%;
    filter: blur(1.125rem); 
    border-radius: 0.875rem; 
    z-index: -2;
    opacity: 0;
}

.nav-box a:hover::before,
.nav-box a:hover::after{
    opacity: 1;
    animation: glow 6s linear infinite;
}

.nav-box a:hover{
    color: var(--normal);
}

@keyframes glow{
    0%{ background-position: 0%; }
    100%{ background-position: 400%; }
}


/*main section*/
.bigbox{
    display: flex;
    padding: 1.5%;
    margin: 0 2%;
} 

.con{
    margin-right: 0.1%;
    margin-left: auto;
   background: radial-gradient(#5fd0d0,#5fd0d0,#5fd0d0,#5fd0d0,transparent,transparent,transparent);
    margin-bottom: 0;
    border-radius: 50%;
    width: 30%;
    margin-top: -20px;
    
}
.con img{
    width: 100%;
    height: auto;
}

.bigbox1{
    padding: 1.5%;
    width: 65%;
    padding-top: 3rem;
}
.box1{
    font-size: 2rem;
}
.box2{
    font-size: 2.5rem;
}
.box3{
    display: flex;
}
.box3 :nth-child(1){
    font-size: 2rem;
}
.box31{
    display: flex;
}
.box3 .box31 :nth-child(1){
    font-size: 2.5rem;
    margin-left: 2%;
    color: var(--tom);
    padding: 0;
    margin: 0;
}
.box3 .box31 :nth-child(2){
    font-size: 2.5rem;
    color: var(--tom);
    padding: 0;
    margin: 0;
}
.link {
    display: flex;
    gap: 1rem ;
}

.link a{
    background: var(--primary);
    padding: 0.6rem 1.3rem;
    border: 0.3rem solid var(--primary);
    border-radius: 10px;
    color: var(--normal);
    text-decoration: none;
    margin-top: 1rem;
}
.link a:hover{
    border: 0.3rem solid var(--primary);
    color: var(--primary);
    background-color: var(--normal);
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.link2{
    margin: 5.625rem;           
    margin-left: 16.25rem;      
}

.link2{
    margin-top: 1.5rem;       
    font-size: 2.5rem; 
}
.link2 i{
    color: var(--primary);
}
.link2 ul{
    display: flex;
    transform: translate(-50%, -50%);
}

.link2 ul li{
    list-style: none;
    justify-content: center
}


.link2 ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-top: 2rem
}

.link2 ul li a{
    width: 2.75rem;             
    height: 2.75rem;            
    background-color: var(--normal);
    text-align: center;   
    padding-top: 0.2rem;  
    font-size: 1.8rem;       
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 0.1875rem solid var(--normal); 
    z-index: 1;
    
}
.link2 ul li a .icon{
    position: relative;
    color: var(--primary);
    transition: 0.5s;
    z-index: 3;
}

.link2 ul li a:hover .icon{
    color: var(--normal);
    transform: rotateY(360deg);
}

.link2 ul li a:before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--tom);
    transition: 0.5s;
    z-index: 2;
}

.link2 ul li a:hover:before{
    top: 0;
}

.link2 ul li:nth-child(1) a:before{
    background: #3b5999;
}

.link2 ul li:nth-child(2) a:before{
    background: #55acee;
}

.link2 ul li:nth-child(3) a:before{
    background: #0077b5;
}

.link2 ul li:nth-child(4) a:before{
    background: #0077b5;
}


.link2 a:hover{
    color: #32d074;
    animation: kol 2s ease infinite;
}

@keyframes kol{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
/*border animation*/
.bigbox1{
    position: relative;
    border-radius: 0.9375rem; 
    background: var(--normal); 
    z-index: 1;
}

/* animated border layer */
.bigbox1::before{
    content: "";
    position: absolute;
    inset: -0.125rem;     
    border-radius: 1.0625rem; 
    background: linear-gradient(
        90deg,
        #00fff7,
        #ff00ff,
        #23c333
    );
    animation: borderMove 3s linear infinite;
    z-index: -1;
}

/* cut center so only border shows */
.bigbox1::after{
    content: "";
    position: absolute;
    inset: 0.1875rem;        /* 3px */
    border-radius: 0.75rem;  /* 12px */
    background: var(--normal);
    z-index: -1;
}

@keyframes borderMove{
    0%{ filter: hue-rotate(0deg); }
    100%{ filter: hue-rotate(360deg); }
}

.animation{
    margin: 0px  auto;
    width: 96%;
    display: flex;
    margin-bottom: 40px;
    overflow-x: auto;
}
.animation::-webkit-scrollbar{
    display: none;

}
.group{
    display: flex;
    gap: 20px;
    animation: spin 40s infinite linear;
    
    
}
.pic{
    height: 100px;
    width: auto;
    justify-content: center;
    
}
@keyframes spin{
    from{
        translate: 0;

    } to{
        translate: -100%;
    }
}

/*why me*/

.boxs{
    margin-top: -3.125rem;   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;          
    color: #ffffff;
}

.boxs1{
        margin: 5%;
        background-color: var(--primary);
        justify-content: center;
        padding-bottom: 0.6rem;
        padding-top: 0.6rem;  
        text-align: center;
        border-radius: 0.9375rem; 
        border: 0.3125rem solid var(--primary); 
    }

    .boxs1:hover{
        border: 0.3125rem solid var(--primary); 
        background-color: var(--normal);
        color: var(--black);
    }

.min_boxs1{
    font-weight: 600;
    font-size: 3.125rem;     
}

.min_boxs2{
    font-weight: 600;
    font-size: 1.875rem;   
}


/*about section*/
.about_hedding{
    justify-content: center;
    text-align: center;
    font-size: 3.4375rem;  
    font-weight: 700;
    color: var(--primary);
}
.about_content{
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
}
.con1{
    width: 200%;
    background: radial-gradient(#5fd0d0,#5fd0d0,#5fd0d0,#5fd0d0,transparent,transparent,transparent);
}
.con1 img{
    width: 100%;
    height: auto;
}

/*.con{
    margin-right: 0.1%;
    margin-left: auto;
   background: radial-gradient(#5fd0d0,#5fd0d0,#5fd0d0,#5fd0d0,transparent,transparent,transparent);
    margin-bottom: 0;
    border-radius: 50%;
    width: 30%;
    margin-top: -20px;
    
}
.con img{
    width: 100%;
    height: auto;
}*/

.about_box{
    width: 400%;
    font-size: 20px;

}
.about_box p{
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}





.about_box{
    margin-top: 4.1875rem;   /* 67px */
    margin-left: 1.25rem;    /* 20px */
    margin-right: 1.25rem;   /* 20px */
}

.about_box p{
    font-size: 1.0625rem;    /* 17px */
    line-height: 1.8;
    letter-spacing: 0.025rem; /* 0.4px */
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    text-transform: none;
    font-weight: 600;
    color: #f2f2f2;
}

/* highlight first letter */
.about_box p::first-letter{
    font-size: 2rem;         /* 32px */
    font-weight: 700;
    color: #00fff7;
}

/* small glow on hover */
.about_box:hover p{
    text-shadow: 0 0 0.375rem rgba(0,255,247,0.5); /* 6px */
    transition: 0.4s;
}

.about_box{
    position: relative;
    border-radius: 0.9375rem; /* 15px */
    background: var(--primary);
    padding:var(--normal);
    z-index: 1;
}

/* animated border */
.about_box::before{
    content: "";
    position: absolute;
    inset: -0.125rem;        /* -2px */
    border-radius: 1.0625rem; /* 17px */
    background: linear-gradient(
        90deg,
        #00fff7,
        #ff00ff,
        #00fff7
    );
    animation: aboutBorderMove 3s linear infinite;
    z-index: -1;
}

/* inside cover so border stays inside radius */
.about_box::after{
    content: "";
    position: absolute;
    inset: 0.1875rem;        /* 3px */
    border-radius: 0.75rem;  /* 12px */
    background:var(--primary);
    z-index: -1;
}

@keyframes aboutBorderMove{
    0%{ filter: hue-rotate(0deg); }
    100%{ filter: hue-rotate(360deg); }
}




/*service section*/
.scard{
    width: 18rem;
    height: 13rem;
    background-color: var(--primary);
    color: var(--normal);
    border-radius: 1rem;
    position: relative;
    margin: 0;
}
.stack{
    display: flex;
    justify-content: center;
    margin-left: 1.5%;
    margin-right: 1.5%;
    
}

.scard::before{
    content: "";
    position: absolute;
    inset: -0.225rem;        /* -2px */
    border-radius: 1rem; /* 17px */
    background: linear-gradient(
        90deg,
        #00fff7,
        #ff00ff,
        #00fff7
    );
    animation: aboutBorderMove 3s linear infinite;
    z-index: -1;
}

/* inside cover so border stays inside radius */
.scard::after{
    content: "";
    position: absolute;
    inset: 0.1875rem;        /* 3px */
    border-radius: 0.75rem;  /* 12px */
    background:var(--primary);
    z-index: -1;
}

@keyframes aboutBorderMove{
    0%{ filter: hue-rotate(0deg); }
    100%{ filter: hue-rotate(360deg); }
}

.scard h3{
    font-size: 1.2rem;
    text-align: center;
}

.scard p{
    text-align: justify;
    margin-top: 0.3rem;
    font-size: 0.8rem;
}

.scard button{
    margin-top: 1rem;
    padding: 0.4rem 0.6rem;
    border: 0.2rem solid white;
    border-radius: 1rem;

}
.scard button:hover{
    border: 0.2rem solid var(--normal);
    border-radius: 1rem;
    background-color: var(--primary);
    color: var(--normal);

}
.scard{
    padding: 1%;
    padding-top: 2%; 
    justify-content: center;
    text-align: center;
}

.scard:nth-child(4){
    z-index: 7;
    transform: translate(0, 0);
    
}
.scard:nth-child(3){
    z-index: 6;
    margin-right: -1rem;
    margin-top: 1rem;
}
.scard:nth-child(5){
    z-index: 6;
    margin-left: -1rem;
    margin-top: 1rem;
}

.scard:nth-child(2){
    z-index: 5;
    margin-right: -2rem;
    margin-top: 2rem;
}
.scard:nth-child(6){
    z-index: 5;
    margin-left: -2rem;
    margin-top: 2rem;
}

.scard:nth-child(1){
    z-index: 4;
    margin-right: -3rem;
    margin-top: 3rem;
}
.scard:nth-child(7){
    z-index: 4;
    margin-left: -3rem;
    margin-top: 3rem;
}
.scard:hover{
    z-index: 99;
    transform:  scale(1.05);
    color: var(--normal);
}













































/*responsive only mobile*/
@media (max-width:451px){
    #open-menu-btn,
    #close-menu-btn{
        background:none;
        border:none;
        font-size:26px;
        cursor:pointer;
        margin-top: 10px;
        margin-right: 2%;
        color: var(--primary);
    }
    .logo{
    font-size:22px;
    font-weight:bold;
    }


    .nav-box{
        position:fixed;
        top:0;
        right:-100%;
        width:40%;
        height:100vh;
        background:#000;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:3%;
        transition: right 0.4s ease-in-out;
        z-index:100;
    }

    /* menu open */
    .nav-box.active{
        right:0;
    }

    #open-menu-btn{
        display:block;

    }
    .nav-box.active ~ #close-menu-btn{
        display:block;
        position:fixed;
        top:20px;
        right:20px;
        z-index:101;
        margin-right: 10px;
        color: var(--normal);
    }
    .bigbox{
        flex-direction: column;
    }
    .bigbox1{
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
    }
    .box1{
        font-size: 1.2rem;
    }
    .box2{
        font-size: 1.8rem;
        font-weight: 700;
    }
    .box3{
        flex-direction: column;   
    }
    .box3 :nth-child(1){
        font-size: 1.2rem;
    }
   
    .box3 .box31 :nth-child(1){
        font-size: 1.8rem;
        margin-left: 0;
    }
    .box3 .box31 :nth-child(2){
        font-size: 1.8rem;
        margin-left: 0rem;
    }


    .con{
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .con img{
        margin-top: 2rem;
    }
    .link2 ul{
        margin-left: -11rem;
    }

        
    .boxs{
        margin-top: -3.125rem; 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        color: var(--normal);
    }

    

    .min_boxs1{
        font-weight: 600;
        font-size: 2.125rem;     
    }

    .min_boxs2{
        font-weight: 600;
        font-size: 1rem;     
    }
    .about_hedding{
        font-size: 2.5rem;
    }

    .about_content{
        flex-direction: column
    }
    .con1{
        width: 94%;
        margin-bottom: -2rem;
    }
    .about_box{
        width: 94%;
        margin-top: 2rem;
    }
    .stack{
        flex-direction: column;
        justify-content: center;

        
    }
   
        
    .scard:nth-child(4){
        
        z-index: 7;
        transform: translate(0, 0);
        padding-top: 2rem;
        margin-top: 0.3rem ;
        
    }
    .scard:nth-child(3){
        z-index: 6;
        padding-top: 2rem;
        margin-top: 0.3rem ;
    }
    .scard:nth-child(5){
        z-index: 6;
        margin-left: 5%;
        margin-top: 1rem;
        padding-top: 2rem;
        margin-top: 0.3rem ;
    }

    .scard:nth-child(2){
        z-index: 5;
        margin-right: -2rem;
        margin-top: 2rem;
        padding-top: 2rem;
        margin-top: 0.3rem ;
    }
    .scard:nth-child(6){
        z-index: 5;
        margin-left: 5%;
        margin-top: 2rem;
        padding-top: 2rem;
        margin-top: 0.3rem ;
    }

    .scard:nth-child(1){
        z-index: 4;
        margin-right: 5%;
        margin-top: 3rem;
        padding-top: 2rem;
        margin-top: 0.3rem ;
        
    }
    .scard:nth-child(7){
        z-index: 4;
        margin-left: 5%;
        margin-top: 3rem;
        padding-top: 2rem;
        margin-top: 0.3rem ;
    }
     .scard{
        width: 90%;
        margin: 0.3rem 5%;
        padding: 1rem;
       
    }
}







