*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;         
}

:root {
    --black: #13131a;
    --normal: #ffffff;
    --primary: #0c9600;
    --bg: #1F1154;
    --tom: #ED3E09;
    
}

body{
    color: var(--primary);
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
}
.logo{
    font-size: 4rem;
    font-weight: 700;
    margin-left: 2%;
    margin-right: auto;

}
/*remove menu open and close icon*/
#open-menu-btn{
    display:none;
}
#close-menu-btn{
    display:none;
}
.nav-box{
    display: flex;
    width: 70%;
    margin-right: 2%;
    margin-left: auto;
    padding-right: 0;
    padding-left: auto;
    justify-content: right;
    gap: 4%;
    color: var(--primary);
    font-size: 150%;
}
.nav-box a{
    position: relative;
    color: var(--primary);
    border-radius: 0.625rem;
    text-decoration: none;
    font-weight: 600;
    overflow: visible;
    z-index: 1;
}

.nav-box a::before{
    content: "";
    position: absolute;
    inset: -0.25rem;        /* -4px */
    background: linear-gradient(
        90deg,
        #03a9f4,
        #f441a5,
        #ffeb3b,
        #03a9f4
    );
    background-size: 400%;
    border-radius: 0.875rem; /* 14px */
    z-index: -1;
    opacity: 0;
}

.nav-box a::after{
    content: "";
    position: absolute;
    inset: -0.375rem;
    background: linear-gradient(
        90deg,
        #03a9f4,
        #f441a5,
        #ffeb3b,
        #03a9f4
    );
    background-size: 400%;
    filter: blur(1.125rem); 
    border-radius: 0.875rem; 
    z-index: -2;
    opacity: 0;
}

.nav-box a:hover::before,
.nav-box a:hover::after{
    opacity: 1;
    animation: glow 6s linear infinite;
}

.nav-box a:hover{
    color: var(--normal);
}

@keyframes glow{
    0%{ background-position: 0%; }
    100%{ background-position: 400%; }
}








/*responsive only mobile*/
@media (max-width:451px){
    #open-menu-btn,
    #close-menu-btn{
        background:none;
        border:none;
        font-size:26px;
        cursor:pointer;
        margin-top: 10px;
        margin-right: 2%;
        color: var(--primary);
    }
    .logo{
    font-size:22px;
    font-weight:bold;
    }


    .nav-box{
        position:fixed;
        top:0;
        right:-100%;
        width:40%;
        height:100vh;
        background:#000;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:3%;
        transition: right 0.4s ease-in-out;
        z-index:100;
    }

    /* menu open */
    .nav-box.active{
        right:0;
    }

    #open-menu-btn{
        display:block;

    }
    .nav-box.active ~ #close-menu-btn{
        display:block;
        position:fixed;
        top:20px;
        right:20px;
        z-index:101;
        margin-right: 10px;
        color: var(--normal);
    }

}


