*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;         
}

:root {
    --black: #13131a;
    --normal: #ffffff;
    --primary: #0c9600;
    --bg: #1F1154;
    --tom: #ED3E09;
    
}

body{
    color: var(--primary);
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
}
.logo{
    font-size: 4rem;
    font-weight: 700;
    margin-left: 2%;
    margin-right: auto;

}
/*remove menu open and close icon*/
#open-menu-btn{
    display:none;
}
#close-menu-btn{
    display:none;
}
.nav-box{
    display: flex;
    width: 70%;
    margin-right: 2%;
    margin-left: auto;
    padding-right: 0;
    padding-left: auto;
    justify-content: right;
    gap: 4%;
    color: var(--primary);
    font-size: 150%;
}
.nav-box a{
    position: relative;
    color: var(--primary);
    border-radius: 0.625rem;
    text-decoration: none;
    font-weight: 600;
    overflow: visible;
    z-index: 1;
}

.nav-box a::before{
    content: "";
    position: absolute;
    inset: -0.25rem;        /* -4px */
    background: linear-gradient(
        90deg,
        #03a9f4,
        #f441a5,
        #ffeb3b,
        #03a9f4
    );
    background-size: 400%;
    border-radius: 0.875rem; /* 14px */
    z-index: -1;
    opacity: 0;
}

.nav-box a::after{
    content: "";
    position: absolute;
    inset: -0.375rem;
    background: linear-gradient(
        90deg,
        #03a9f4,
        #f441a5,
        #ffeb3b,
        #03a9f4
    );
    background-size: 400%;
    filter: blur(1.125rem); 
    border-radius: 0.875rem; 
    z-index: -2;
    opacity: 0;
}

.nav-box a:hover::before,
.nav-box a:hover::after{
    opacity: 1;
    animation: glow 6s linear infinite;
}

.nav-box a:hover{
    color: var(--normal);
}

@keyframes glow{
    0%{ background-position: 0%; }
    100%{ background-position: 400%; }
}


/*main section*/
.bigbox{
    display: flex;
    padding: 1.5%;
    margin: 0 2%;
    background-color: #000;
} 

.con{
    margin-right: 0.1%;
    margin-left: auto;
   background: radial-gradient(#5fd0d0,#5fd0d0,#5fd0d0,#5fd0d0,transparent,transparent,transparent);
    margin-bottom: 0;
    border-radius: 50%;
    width: 30%;
    margin-top: -20px;
    
}
.con img{
    width: 100%;
    height: auto;
}

.bigbox1{
    padding: 1.5%;
    width: 65%;
}
.box1{
    font-size: 2rem;
}
.box2{
    font-size: 2.5rem;
}
.box3{
    display: flex;
}
.box3 :nth-child(1){
    font-size: 2rem;
}
.box3 :nth-child(2){
    font-size: 2.5rem;
    margin-left: 2%;
}
.box3 :nth-child(3){
    font-size: 2.5rem;
}
.link {
    display: flex;
    gap: 1rem ;
}

.link a{
    background: var(--primary);
    padding: 0.6rem 1.3rem;
    border: 0.3rem solid var(--primary);
    border-radius: 10px;
    color: var(--normal);
    text-decoration: none;
    margin-top: 1rem;
}
.link a:hover{
    border: 0.3rem solid var(--primary);
    color: var(--primary);
    background-color: var(--normal);
    transform: scale(1.1);
    transition: transform 0.3s ease;
}




.link2{
    margin: 5.625rem;           
    margin-left: 16.25rem;      
}

.link2{
    margin-top: 1.5rem;       
    font-size: 2.5rem; 
}
.link2 i{
    color: var(--primary);
}
.link2 ul{
    display: flex;
    transform: translate(-50%, -50%);
}

.link2 ul li{
    list-style: none;
    justify-content: center
}


.link2 ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}

.link2 ul li a{
    width: 2.75rem;             
    height: 2.75rem;            
    background-color: #fff;
    text-align: center;   
    padding-top: 0.2rem;  
    font-size: 1.8rem;       
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 0.1875rem solid #fff; 
    z-index: 1;
    
}
.link2 ul li a .icon{
    position: relative;
    color: #262626;
    transition: 0.5s;
    z-index: 3;
}

.link2 ul li a:hover .icon{
    color: #fff;
    transform: rotateY(360deg);
}

.link2 ul li a:before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 2;
}

.link2 ul li a:hover:before{
    top: 0;
}

.link2 ul li:nth-child(1) a:before{
    background: #3b5999;
}

.link2 ul li:nth-child(2) a:before{
    background: #55acee;
}

.link2 ul li:nth-child(3) a:before{
    background: #0077b5;
}

.link2 ul li:nth-child(4) a:before{
    background: #0077b5;
}


.link2 a:hover{
    color: #32d074;
    animation: kol 2s ease infinite;
}

@keyframes kol{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}













































/*responsive only mobile*/
@media (max-width:451px){
    #open-menu-btn,
    #close-menu-btn{
        background:none;
        border:none;
        font-size:26px;
        cursor:pointer;
        margin-top: 10px;
        margin-right: 2%;
        color: var(--primary);
    }
    .logo{
    font-size:22px;
    font-weight:bold;
    }


    .nav-box{
        position:fixed;
        top:0;
        right:-100%;
        width:40%;
        height:100vh;
        background:#000;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:3%;
        transition: right 0.4s ease-in-out;
        z-index:100;
    }

    /* menu open */
    .nav-box.active{
        right:0;
    }

    #open-menu-btn{
        display:block;

    }
    .nav-box.active ~ #close-menu-btn{
        display:block;
        position:fixed;
        top:20px;
        right:20px;
        z-index:101;
        margin-right: 10px;
        color: var(--normal);
    }

}


